
.code{
    margin: 20px 0px 0px 0px;
    color: gray;
    height: 90vh;
}

.header{
    display: flex;
    
    align-items: center;
    width: 90vw;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li{
    list-style-type: none;
}
.header_title{
    flex: 0.2;
    margin-left: 5vw;
    text-align: right;
}

.header_link{
    flex: 0.2;
    display: flex;
    text-align: left;
}

.dot{
    color: blue;
    font-size: larger;
}

nav{
    flex: 0.6;
    margin-right: auto;
}
.open{
    color: rgb(30,103,175);
    font-weight: 900;
    font-size: 28px;
}
.exam{
    font-weight: bold;
    color: black;
    font-size: 28px;
}
.inscript{
    border: 1px rgb(5,77,114) solid;
    background-color: rgb(5,77,114);
    font-size: small;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    margin-right: 5px;
    color: grey;
    box-shadow: 2px 2px 10px 5px rgb(238,238,238);
}
.connex{
    border: 1px whitesmoke solid;
    background-color: whitesmoke;
    font-size: small;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    color: grey;
    box-shadow: 2px 2px 10px 5px rgb(238,238,238);
}

.section{
    display: flex;
    margin-top: 12vh;
    justify-content: space-between;
    margin-left: 10vw;
}
.sect_1{
    /* flex: 50vw; */
    width: 50vh;
    text-align: left;
}
.sect_2{
    flex: 0.2;
    margin-right: 20vh;
}
.sect_1_head{
    color: rgb(30,103,175);
    font-size: 30px;
    font-weight: bold;
    width: 30vw;
    font-family: arial;
    margin-bottom: 10px;
}
.sect_1_content{
   
    width: 32vw;
}
.article{
    
}
.creer{
    border: 1px solid white;
    background-color: white;
    box-shadow: 4px 4px 20px 10px rgb(244,244,244);
    height: 6vh;
    width: 30vw;
    margin-bottom: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(30,103,175);
    font-size: large;
}

.rect{
    display: flex;
    width: 40vw;
    justify-content: space-between;
    margin-top: 2vh;
    margin-right: 1vw;
}

.rectangle{
    height: 7vh;
    width: 9vw;
    background-color: rgb(244, 244, 244);
    border-radius: 10px;
}

.footer{
    width: 94%;
    margin: auto;
    background-color: rgb(244, 244, 244);
    margin-top: 1vh;
    height: 30vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_head{
    color: rgb(30,103,175);
    font-size: 23px;
    font-weight: bold;
    font-family: arial;
}
.footer_content{
    width: 70%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

.sect_2{
    height: 30vh;
    border: 40px rgb(27,110,181) solid;
    border-radius: 100%;
}
.acceuil{
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
    padding: 5px;
}
html{
    font-size: 14px;
    height: 90vh;
    height: calc((16/9)*100vh);
}

@media screen and (max-width: 1000px){
    html{
        font-size: 10px;
        height: 50vh;
    }
    .exam,.open{
        font-size: 14px;
    }
    .sect_1_head{
        font-size: 12px;
    }
    .inscript, .connex{
        font-size: xx-small;
    }
    .header_title{
        font-size: x-small;
    }
    nav ul li{
        font-size: xx-small;
    }
    .section{
        margin-top: 4vh;
    }
    .sect_2{
        height: 10vh;
    }
}

@media screen and (max-width: 500px){
    html{
        font-size: 7px;
        height: 50vh;
    }
    .exam,.open{
        font-size: 12px;
    }
    .sect_1_head{
        font-size: 10px;
    }
    .inscript, .connex{
        font-size: xx-small;
    }
    .header_title{
        font-size: x-small;
    }
    nav ul li{
        font-size: xx-small;
    }
    .section{
        margin-top: 2vh;
    }
    .sect_2{
        height: 8vh;
    }
}
